.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 99;
  position: absolute;
  background: white;
  left: 0;
  right: 0;
  height: 50px;
}

.links {
  background: white;
  color: white;
  width: 100px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border-width: 0;
  font-size: 16px;
}
